:root {
    --main-bg: #1a2632; /* Midnight black background */
    --sec-col: #de5655; /* Orange secondary color */
    --main-text: #faeaec; /* Pearl text color */
}

body {
    margin: 0;
    padding: 0;
    color: var(--main-text);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* sections */

section {
    height: 100vh;
    background-color: var(--main-bg);
}

@media(max-width: 992px) {
    section {
        height: auto;
    }
}

.highlight{
    color:  var(--sec-col);
}

@media (min-width: 1200px) {
    section{
        height: 100vh;
    }
}

nav {
    background-color: var(--main-bg);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 2rem 0 1rem 0;
}
nav ul li {
    padding: 1rem;
    border: 1px solid var(--sec-col);
    border-radius: 35px;
    transition: all ease-in-out 0.3s;
}

nav ul li:hover {
    background-color: var(--sec-col);
}

nav ul li:hover a{
    color: var(--main-bg);
}

nav ul li a{
    color: var(--sec-col);
    text-decoration: none;
}

.profile-photo {
    width: 500px;
    height: 500px;
    border-radius: 50%; 
    border: 5px solid white; 
    margin-bottom: 20px;
}
/* About Section styles */

.custom-about-content {
    background-color: rgba(255, 255, 255, 0.1); 
}

.custom-about-content p {
    text-align: justify; 
}

@media (min-width: 576px) {

    .custom-about-content p {
        font-size: 1.1em;
    }
}

@media (min-width: 768px) {

    .custom-about-content {
        text-align: left;
    }

    .custom-about-content p {
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {

    .custom-about-content p {
        font-size: 1.3em;
    }
}

@media (min-width: 1200px) {

    .custom-about-content p {
        font-size: 1.4em;
    }
}

/* Skills  */

.skills-section {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.skill-card {
    background-color: var(--sec-col);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(25% - 40px);
    margin: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill-card h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skill-card p {
    color: #ccc;
    font-size: 1em;
    line-height: 1.4;
    flex-grow: 1;
}

.skill-card i {
    font-size: 3em; 
    color: #fff; 
    margin-bottom: 20px;
    display: block;
}
.skill-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .skill-card {
        width: calc(33.333% - 40px);
    }
}

@media (max-width: 992px) {
    .skill-card {
        width: calc(50% - 40px); 
    }
}

@media (max-width: 768px) {
    .skills-section {
        align-items: center; 
    }

    .skill-card {
        width: calc(100% - 40px); 
    }
}

/* projects */

.projects-section {
    padding: 50px 0;
    text-align: center;
}

.project-card {
    background-color: var(--main-text);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 30px 30px 30px;
    transition: all 0.3s ease;
}
.project-card:hover {
    background-color: var(--sec-col);
    color: var(--main-text);
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* resume */

#resume {
    height: auto;
}

.resume-component {
    background-color: var(--main-bg);
    border: 1px solid var(--sec-col);
    padding: 1rem;
    margin: 2rem 1rem;
}

.resume-component h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--main-text);
}

.resume-component p {
    font-size: 1em;
    color: var(--main-text);
    margin-bottom: 20px;
}

.resume-download-link,
.resume-component a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--sec-col);
    color: var(--main-text);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.resume-download-link:hover,
.resume-component a:hover {
    background-color: #a70016;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .resume-component {
        margin: 1rem;
    }
}

@media (max-width: 992px) {
    .resume-component {
        margin: 0.5rem;
        width: 100%;
    }

    .resume-component h3 {
        font-size: 1.4em;
    }

    .resume-component p {
        font-size: 0.9em;
    }
    #hero{
        height: 100vh !important;
    }
}

@media (max-width: 768px) {
    .resume-component {
        padding: 1rem;
        margin: 0.5rem;
    }

    .resume-component h3 {
        font-size: 1.2em;
    }

    .resume-component p {
        font-size: 0.8em;
    }

    .resume-download-link,
    .resume-component a {
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .resume-component {
        padding: 0.8rem;
        margin: 0.5rem;
    }
    .resume-component h3 {
        font-size: 1em;
    }

    .resume-component p {
        font-size: 0.7em;
    }

    .resume-download-link,
    .resume-component a {
        padding: 6px 12px;
    }
}

section h2 {
    color: #fff; 
    font-size: 4em; 
    margin-top: 50px;
    margin-bottom: 25px; 
    text-align: center; 
    width: 100%;
}